/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common-use */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Main-Menu */
.top-part{
    background-color: #FF4A60;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-color{
    margin-top: 0;
    background-color: #FF4A60;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 50px;
}
.main-nav a{
    font-size: 18px;
    text-decoration: none;
    margin-left: 36px;
    color: white;
}
.profile {
    font-size: 24px;
}

/* top players */
.top-players{
    margin-bottom: 22px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
}

/* top blogs-style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-row-gap: 30px;
}
.blog{
    display: flex;
}

.top-blogs h2{
    margin-top: 22px;
}
.blog .thumnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info .blog-title {
    font-size: 20px;
}
.blog-info .blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-info .blog-author a{
    text-decoration: none;
    color: #562EFF;
}

/* Lates Course */
.courses{
    display:flex;
    justify-content: space-between;
}

.course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 20px;
}
.course-author{
    font-size: 14px;
    color: #ED6B4F;
}
.course-rating{
    display: flex;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled {
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
}
.course-duration {
    background: #FEE5DF;
    color:#FF4A60;
    padding: 2px 10px;
    border-radius: 15px;
}

/*----------------
 Media quaries
 ------------------ */

 /* mobile device */

@media only screen and (max-width: 480px) {
    .container{
        width: 80%;
    }
    .main-nav{
        align-items: center;
    }
    .manu-bar a {
        font-size: 14px;
        margin-left: 5px;
    }

    h2,h3,p{
        text-align: center;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    .player,.blog{
        flex-direction: column;
    }
    .blogs, .courses {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
    }
    .blog{
        justify-content: center;
        align-items: center;
    }
    .course-banner{
        text-align: center;
    }
    .course-duration{
        margin-bottom: 30px;
    }  
}

/* tablet device */

@media only screen and (min-width: 481px) and (max-width: 768px) {
     .container{
        width: 100%;
    }
    h2,h3,p{
        text-align: center;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    .player,.blog{
        flex-direction: column;
    }
    .blogs, .courses {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
    }
    .blog{
        justify-content: center;
        align-items: center;
    }
    .course-banner{
        text-align: center;
    }
    .course-duration{
        margin-bottom: 30px;
    }   
}